body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
}

.calculadora{
    width: 300px;
    background-color: #222;
    padding: 22px;
    border-radius: 15px;
}

.display{
    background-color: #111;
    color: white;

    font-size: 32px;
    text-align: right;

    padding: 15px;
    margin-bottom: 15px;

    border-radius: 10px;
}

.botoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    font-size: 22px;
    padding: 20px;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}