{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Calculadora</title>
        <link rel="stylesheet" href="{% static 'calculadora/css/style.css' %}">
    </head>
    <body>

        <div class="calculadora">
            <!--botao para alterar o tema-->
            <button type="button" id="toggle-theme" class="btn-tema">🔌 Modo Escuro</button>
            <div class="display" id="display">0</div>

            <div class="botoes">
                <button type="button" class="numero">C</button>
                <button type="button" class="numero">/</button>
                <button type="button" class="numero">*</button>
                <button type="button" class="numero">-</button>

                <button type="button" class="numero" id="botao7">7</button>
                <button type="button" class="numero">8</button>
                <button type="button" class="numero">9</button>
                <button type="button" class="numero">+</button>

                <button type="button" class="numero">4</button>
                <button type="button" class="numero">5</button>
                <button type="button" class="numero">6</button>
                <button type="button" class="numero">.</button>

                <button type="button" class="numero">1</button>
                <button type="button" class="numero">2</button>
                <button type="button" class="numero">3</button>
                <button type="button" class="numero">=</button>

                <button type="button" class="numero">0</button>
            </div>
        </div>

        <script src="{% static 'calculadora/js/script.js' %}"></script>
    </body>
</html>